[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  #  Missing docstring in __init__
         PT006, # told to be ignored


exclude =
    *_venv
    venv_*
max-complexity = 10
max-cognitive-complexity = 10
per-file-ignores =
    # No docs and annotation required for tests
    test*.py: D10, D101, D103, S101, ANN
    # Skip unused imports in __init__ files
    __init__.py: F401
    task1_times_cache.py: R504
    task2_not_very_calc.py: S311, S303
    task1_class.py: T001
    task2_decor.py: T001, D401
    task1_recdict.py :T001

# Import order https://pypi.org/project/flake8-import-order/
application-import-names = homework
import-order-style = pycharm

doctests = True
